*.swp
*.pyc
build*
dist*
*.egg-info
.coverage
coverage.info
.DS_store
htmlcov
.vscode/
xcuserdata/
.venv/
.cache

# Pycharm metadata
.idea/

# These files are generated, don't put them into source control
docs/api
docs/_build
.tox
cpp_cov_html/
lcov_html_report/
