[submodule "src/deps/optional-lite"]
	path = src/deps/optional-lite
	url = https://github.com/martinmoene/optional-lite
[submodule "src/deps/pybind11"]
	path = src/deps/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/deps/rapidjson"]
	path = src/deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/deps/any"]
	path = src/deps/any
	url = https://github.com/thelink2012/any.git
