before_script:
    - pip install pep8 pyflakes flake8 coverage

Python 2.7:
    stage: test
    image: python:2.7
    script:
        - make lint
        - make test
        - make coverage

Python 3.5:
    stage: test
    image: python:3.5
    script:
        - make lint
        - make test
        - make coverage
