language: python
python:
    - "2.7"
    - "3.5"
    - "3.6"

env:
    global:
        - PYAAF27=PyAAF-1.0.0-cp27-cp27mu-manylinux1_x86_64.whl
        - PYAAF35=PyAAF-1.0.0-cp35-cp35m-manylinux1_x86_64.whl
        - PYAAF36=PyAAF-1.0.0-cp36-cp36m-manylinux1_x86_64.whl

before_install:
    # Note that pyaaf is only needed for the AAF adapter
    # We need to get a wheel that matches our Python version
    - if [[ $TRAVIS_PYTHON_VERSION == 2.7 ]]; then export PYAAF=$PYAAF27 ; fi
    - if [[ $TRAVIS_PYTHON_VERSION == 3.5 ]]; then export PYAAF=$PYAAF35 ; fi
    - if [[ $TRAVIS_PYTHON_VERSION == 3.6 ]]; then export PYAAF=$PYAAF36 ; fi
    - wget -qO /tmp/${PYAAF} "https://github.com/markreidvfx/pyaaf/releases/download/v1.0.0/${PYAAF}"
    # ffmpeg and ffprobe are used by some of the contrib adapters - these are optional
    - sudo apt-get install -y ffmpeg

install:
    # tox-travis installs tox and also makes working with travis better.
    - pip install tox-travis coverage
    - pip install /tmp/${PYAAF}

script:
    - tox

after_success:
    # Documentation for codecov uploader
    # https://docs.codecov.io/docs/about-the-codecov-bash-uploader
    - bash <(curl -s https://codecov.io/bash)
