language: python
matrix:
    include:
        - python: "2.7"
          env: TEST_SUITE=
        - python: "3.5"
          env: TEST_SUITE=3.5

install:
    - pip install pep8 pyflakes flake8 coverage

script:
    - make test$TEST_SUITE
    - make lint
    - make coverage
