include README.md README_contrib.md LICENSE.txt NOTICE.txt SECURITY.md CMakeLists.txt
recursive-include examples *
recursive-include src *
recursive-include tests *
exclude */.DS_Store
global-exclude *.pyc
global-exclude *.pyd
prune src/deps/rapidjson/thirdparty
