include README.md README_contrib.md CHANGELOG.md LICENSE.txt NOTICE.txt CMakeLists.txt
recursive-include examples *
recursive-include src *
recursive-include tests *
prune .github
prune docs
prune doxygen
exclude .gitmodules
recursive-exclude src *.git
exclude .readthedocs.yml
exclude readthedocs-conda.yml
exclude .codecov.yml
exclude .gitlab-ci.yml
exclude *.pdf
exclude CODE_OF_CONDUCT.md
exclude CONTRIBUTING.md
exclude CONTRIBUTORS.md
exclude GOVERNANCE.md
exclude Makefile
exclude */.DS_Store
exclude .clang-format
exclude OTIO_VERSION.json
global-exclude *.pyc
global-exclude *.so
global-exclude *.pyd

prune maintainers
prune tsc
prune src/deps/pybind11/tools/clang
prune src/deps/rapidjson/thirdparty
