examples/unidiff
examples/unistrdiff
examples/strdiff
examples/strdiff_cp
examples/strdiff3
examples/intdiff
examples/bdiff
examples/intdiff3
examples/patch
examples/fpatch
examples/st2ses
examples/strdiff_storage
test/strdiff3_test
test/*/*/*_
*.o
*.orig
*~
.semantic.cache
.DS_Store
*.swp
GPATH
GRTAGS
GSYMS
GTAGS
TAGS
dtl_test
.sconsign.dblite
.sconf_temp
config.log
^\#
\#$
\.\#
